
#submit{
  height: 30px;
  width: 400px;
}


html,
      body,
      #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }

.card{
        padding: 8px 8px 8px 8px;
        margin-right: 50px;

      }


#card{
  background-color: #3a4750;
  border-radius: 20px;
  border-width: thin;
  text-align: center;
}

.card-text{
  color: #b9d2d2;
}

.card-title{
  color: #ffc045;
}

#title, #text{
  background-color: #3a4750;
  color: #ececec;
  border-radius: 15px;
  border-width: thin;
}

#heading{
  color: #0a91ab;
  font-family: 'Righteous', cursive;
  text-decoration: underline;
  font-size: 50px;
}
